@font-face{
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

html{
  height: 100%;
}

body{
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.button{
  font-family: inherit;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #83B3D3;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 10px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.button:hover{
  background-color: #68A2CA;
}

.button:focus{
  background-color: #68A2CA;
}

.button:active{
  background-color: #68A2CA;
  color: #FFFFFF4D;
}

.button:disabled{
  background-color: #E5E5E5;
}

.link-button{
  font-family: inherit;
  background-color: #756157;
  display: block;
  cursor: pointer;
}

.link-button:hover{
  background-color: #615048;
}

.link-button:focus{
  background-color: #615048;
}

.link-button:active{
  background-color: #756157;
  color: #FFFFFF4D;
}

.link-button:disabled{
  background-color: #E5E5E5;
}

.active-button{
  background-color: #7DB54F;
}

.active-button:hover{
  background-color: #6C9E42;
}

.active-button:focus{
  background-color: #6C9E42;
}

.active-button:active{
  background-color: #7DB54F;
  color: #FFFFFF4D;
}

.active-button:disabled{
  background-color: #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
}

.page-header{
  display: flex;
  padding: 0 70px;
}

.nav-logo{
  margin-right: 30px;
  margin-bottom: -6px;
  display: block;
  z-index: 1;
}

.logo{
  display: block;
}

.navigation{
  display: flex;
  justify-content: space-between;
  width: 890px;
}

.navigation-link{
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 20px 16px;
  position: relative;
}

.navigation-link-current::after{
  content: "";
  position: absolute;
  width: inherit;
  height: 2px;
  background-color: #756257;
  bottom: 0;
  left: 16px;
  right: 16px;
}

.navigation-list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.navigation-user{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.navigation-link-search,
.navigation-link-favorites{
  box-sizing: border-box;
  min-width: 44px;
  min-height: 64px;
  padding: 12px 22px;
}

.navigation-link-search{
  background-image: url(../images/search.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.navigation-link-favorites{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  background-image: url(../images/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

.number-of-likes{
  padding: 5px 5px 5px 4px;
  box-sizing: border-box;
  min-width: 20px;
  min-height: 20px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 10px;
  align-self: flex-end;
  margin: 11px 4px 33px 20px;
}

.navigation-button-item{
  margin-left: 20px;
  min-width: 160px;
}

.main-index,
.main-inner{
  flex-grow: 1;
  text-align: center;
}

.hero{
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  background-size: contain, cover;
  background-image: url(../images/divider.svg), url(../images/index-background.jpg);  /*отображается некорректно*/
  background-repeat: no-repeat;
  background-position: bottom, center;
  padding-top: 51px;
  padding-bottom: 82px;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.hero-image{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.lead-section{
  display: block;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 69px;
  margin-top: 0;
  margin-bottom: 25px;
}

.text-section{
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 69px;
  margin: 0;
  margin-bottom: 21px;
}

.advantages-list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.advantages-text{
  padding: 103px 85px;
}

.desc{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.caption{
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.advantages-text .caption,
.advantages-text .desc{
  color: #ffffff;
}

.advantages-item-hotel,
.advantages-item-canyon{
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.advantages-real-town,
.advantages-devils-bridge{
  background-color: #82B3D3;
  background-size: cover;
  background-repeat: no-repeat;
}

.advantages-small-square,
.advantages-tourists{
  background-color: rgba(131, 179, 211, 0.12);
  flex-direction: column;
  box-sizing: border-box;
  width: 400px;
  padding: 103px 85px;
}

.advantages-beautiful-road{
  background-color: rgba(131, 179, 211, 0.20);
  flex-direction: column;
  box-sizing: border-box;
  width: 400px;
  padding: 103px 85px;
}

.advantages-item .caption::after{
  content: "";
  display: block;
  border-bottom: 2px solid rgba(0, 0, 0, 0.30);
  width: 60px;
  margin: 30px auto;
}

.benefits-lead{
  display: block;
  padding-top: 64px;
  margin-bottom: 20px;
}

.benefits-text{
  margin: 0;
  padding-bottom: 64px;
}

.benefits-list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.benefits-item{
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 400px;
  padding: 152px 85px 80px 85px;
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: 50% 81px;
}

.benefits-item .caption{
  margin-top: 30px;
  margin-bottom: 30px;
}

.benefits-icon-house{
  background-image: url(../images/icon-house-advantage.svg);
}

.benefits-item-foot{
  background-color: #ffffff;
  background-image: url(../images/icon-burger-advantage.svg);
}

.benefits-icon-present{
  background-image: url(../images/icon-present-advantage.svg);
}

.search-hotel{
 padding: 96px 304px;
}

.search-hotel-container{
  min-width: 592px;
  align-items: center;
}

.search-hotel-lead{
  padding: 0;
  margin-bottom: 20px;
}

.search-hotel-text{
  padding: 0;
  margin-bottom: 54px;
}

.search-hotel-button{
  width: 376px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  margin: 0 auto;
}

.subscribe{
  padding: 96px 258px 104px 258px;
}

.subscribe-section{
  width: 684px;
}

.subscribe-section .lead-section{
  margin-bottom: 20px;
  padding: 0;
}

.subscribe-section .text-section{
  margin-bottom: 54px;
  padding: 0;
}

.subscribe-form{
  display: flex;
  width: 100%;
}

.main-subscribe{
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.subscribe-lead,
.subscribe-text{
  color: #ffffff;
}

.e-mail{
  font-family: inherit;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: #F2F2F2;
  padding: 12px 20px;
  width: 412px;
  border-radius: 4px 0px 0px 4px;
  border: none;
}

.subscribe-button{
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  padding: 8px 50px;
  width: auto;
  border-radius: 0px 4px 4px 0px;
}

.subscribe-button:disabled{
  background-color: #E5E5E5;
}

.page-footer{
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
}

.socials{
  align-self: center;
}

.socials-list{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.socials-link{
  display: block;
  min-width: 47px;
  min-height: 40px;
  text-decoration: none;
  position: relative;
}

.socials-link svg{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.socials-link:hover svg{
  fill: #68A2CA;
}

.socials-link:focus svg{
  color: #68A2CA;
}

.socials-link:active svg{
  color: #68A2CA4D;
}

.phone-number{
  min-width: 331px;
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 0;
  margin: 0 auto;
}

.phone-number:hover,
.copyright-logo:hover{
  color: #756157;
}

.phone-number:focus,
.copyright-logo:focus{
  color: #756157;
}

.phone-number:active,
.copyright-logo:active{
  color: #7561574D;
}

/*.phone{
  padding: 5px 194px 5px 195px;
  margin: 0 auto;
}*/

.copyright-logo{
  display: block;
  align-self: flex-end;
}

.filter-content{
  color: #ffffff;
  background-color: #82B3D3;
  background-size: cover;
  background-image: url(../images/filter-content-background.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.filter-container{
  padding: 35px 70px 70px 70px;
}

.content-title{
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}

.breadcrumbs{
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  text-align: left;
  list-style-type: none;
  align-items: center;
}

.breadcrumbs-link{
  display: block;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.breadcrumbs-link-home{
  background-image: url(../images/breadcrumbs-house.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  width: 13px;
  height: 13px;
  /*padding-bottom: 2px;*/
  background-position: center;
}

.breadcrumbs-item{
  position: relative;
}

.breadcrumbs-item::after{
  content: "";
  position: absolute;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  width: 8px;
  height: 10px;
  top: 2px;
  right: -18px;
}

.breadcrumbs-item:last-child::after{
  content: none;
}

.breadcrumbs-link:hover{
  color: #FFFFFF99;
}

.breadcrumbs-link:focus{
  color: #FFFFFF;
}

.breadcrumbs-link:active{
  color: #FFFFFF4D;
}

.filter{
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
}

.filter-group{
  border: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.filter-group-infrastucture,
.filter-group-price{
  margin-right: 70px;
}

.filter-title{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
}

.filter-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-weight: 400;
  line-height: 23px;
}

.checkbox-input{
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
}

.filter-price{
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.price-list,
.filter-buttons{
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-button{
  width: 191px;
  margin-bottom: 32px;
}

.filter-button-reset{
  background-color: transparent;
  width: 191px;
}

.filter-button-reset:hover{
  background-color: transparent;
  color: #FFFFFF;
  opacity: 0.6;
}

.filter-button-reset:focus{
  background-color: transparent;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.filter-button-reset:active{
  background-color: transparent;
  color: #FFFFFF4D;
}

.filter-button-reset:disabled{
  background-color: #FFFFFF;
}

.catalog{
  padding: 50px 70px 60px 70px;
}

.select{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.select-caption{
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  align-self: center;
}

.select-control{
  width: 292px;
  padding: 12px 20px 11px;
  margin-right: 70px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.select-control:hover{
  border-color: #68A2CA;
}

.select-control:focus{
  border-color: #68A2CA;
}

.select-control:disabled{
  border-color: #0000004D;
}

.view-button-box{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.view-button-link{
  width: 48px;
  height: 48px;
  padding: 17px 16px;
  box-sizing: border-box;
  color: #000000;
  text-decoration: none;
  position: relative;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.view-button-link svg{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.view-button-link:hover{
  border-color: #000000;
}

.view-button-link:focus{
  border-color: #68A2CA;
}

.view-button-link:active{
  border-color: #000000;
}

.catalog-list{
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.card-item{
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
}

.card-item-link{
  grid-column: 1/-1;
}

.card-item-link img{
  display: block;
  object-fit: contain;
  max-width: 100%;
}

.card-header-link{
  color: #000000;
  text-decoration: none;
  grid-column: 1/-1;
}

.card-header{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  text-align: left;
}

.card-item-hotel,
.card-item-price{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin: 0;
}

.card-item-price{
  text-align: right;
  align-self: center;
}

.stars{
  margin: auto 0;
  background-image: url(../images/star.svg);
  background-repeat: space no-repeat;
  height: 17px;
}

.stars-4{
  width: 89px;
}

.stars-3{
  width: 66px;
}

.stars-2{
  width: 42px;
}

.card-raiting{
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  margin: 0;
  padding: 9px 22px 8px 23px;
  box-sizing: border-box;
}

.pagination{
  list-style-type: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link{
  display: block;
  min-width: 60px;
  height: 60px;
  padding: 11px 0 13px 0;
  box-sizing: border-box;
  background-color: #82B3D3;
  border-radius: 4px;
  font-family: inherit;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.pagination-current{
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-item-next{
  display: block;
  min-width: 60px;
  height: 60px;
  padding: 16px 0 18px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-align: center;
}

.last-pagination-link{
  padding: 11px 18px 13px 18px;
}

.pagination-link:hover{
  background-color: #68A2CA;
}

.pagination-link:focus{
  background-color: #68A2CA;
}

.pagination-link:active{
  color: #FFFFFF4D;
}
